@import "../../../styles/common";

.list-product-sidebar {
    .content {
        h4 {
            margin-bottom : 25px;
            font-size     : 15px;
            font-weight   : 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .list-product {
            .item-lv1 {
                .title-lv1 {
                    display        : flex;
                    justify-content: flex-start;
                    align-items    : center;
                    gap            : 10px;
                    font-weight    : bold;
                    cursor         : unset;

                    &.active {
                        cursor: pointer;
                    }
                }

                >ul {
                    margin-left: 15px;
                }

                .item-lv2 {
                    padding: 4px;

                    .title-lv2 {
                        cursor: pointer;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}