@import "../../../styles/common";


.home-banner {

    .section-heading {
        margin-bottom: 50px;

        .section-title {
            margin-bottom: 0;
            font-size    : 26px;

            p {
                margin-bottom: 15px;
            }
        }
    }

    .feature-box {
        padding : 0;
        position: relative;

        .fbox-media {
            position: relative;
            display : block;
            width   : 100%;
            height  : auto;
            margin  : 0 0 25px;

            a {
                position: relative;
                display : block;
                width   : 100%;
                height  : auto;

                img {
                    position  : relative;
                    display   : block;
                    width     : 100%;
                    height    : auto;
                    border    : none;
                    background: none;
                }
            }
        }

        .fbox-desc {
            h3 {
                .subtitle {
                    display       : block;
                    margin-top    : 5px;
                    color         : #444;
                    font-weight   : 300;
                    text-transform: none;
                }
            }
        }
    }

    .view-all {
        .btn {
            margin-top: 20px;
            background: #ed1b24;
            color     : #fff;
        }
    }
}




@include media-breakpoint-down(sm) {}


// từ 991px trở xuống
@include media-breakpoint-down(md) {}