.main {}

ul,
ol {
  list-style   : none;
  margin-bottom: 0px;
}

li {}

a {
  color: unset;

  &:hover {
    color          : #222;
    text-decoration: none;
  }
}

button {
  outline      : unset;
  border       : none;
  padding      : 0px;
  cursor       : pointer;
  border-radius: 4px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    filter: brightness(100%);
  }

  &:focus {
    // outline: 1px dashed #fc0390;
  }
}