.main {
  width : 100vw;
  height: 100vh;

  .container-page-content {
    width      : 100%;
    height     : 100%;
    padding-top: 50px;
  }

  .container-page-content-broker {}
}

ul,
ol {
  list-style   : none;
  margin-bottom: 0px;
  overflow     : hidden;
}

li {}

a {
  color: unset;

  &:hover {
    color          : #0499A8;
    text-decoration: none;
  }
}

button {
  outline      : unset;
  border       : none;
  padding      : 0px;
  cursor       : pointer;
  border-radius: 4px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    filter: brightness(100%);
  }

  &:focus {
    // outline: 1px dashed #fc0390;
  }
}